.form-section {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
}
.form-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0d6efd;
}
.custom-border {
  border: 15px solid;
  border-color: red yellow green hsla(238, 100%, 50%, 0.8);
  padding: 20px;
  border-radius: 10px;
}
