* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}
.navbar {
    height: 10vh;
    width: 80%;
    background-color: rgb(49, 48, 48);
    display: flex;
    margin-left: 130px;
    justify-content: center;
    font-size: 20px;
}
.navbar a {
    padding: 35px;
    color: white;
    text-decoration: none;
    margin-top: -10px;
    position: relative;
}
main {
    background-color: rgb(218, 211, 203);
    height: 100vh;
    width: 80%;
    margin-left: 130px;
    color: black;
}
h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 25px;
}
.Left {
    height: 80vh;
    width: 50%;
    display:inline-block;
}
.book-cover {
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    margin-left: 50px;
}
.top-section {
    background: #ddd;   
    padding: 15px;        
    font-size: 15px;
}
.oreilly {
    background: black;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.author {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}
.title {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}
.bottom-section {
    background: #F7C948;
    height: 40%;
    position: relative;
}
.js-text {
    font-size: 230px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.vertical-text {
    position: absolute;
    left: 20%;
    top: 55%;
    transform: rotate(-90deg);
    font-size: 13px;
    color: white;
}

.Right {
    height: 80vh;
    width: 50%;
    float: right;
    padding: 70px;
}
.Right p {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;   
}
.Right button {
    background-color: orange;
    font-size: 15px;
    color: white;
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    margin-top: 40px;   
}
.footer {
    height: 18vh;
    width: 80%;
    background-color: darkslategray;
    position: relative;
    margin-left: 130px;
    padding: 30px;
    margin-top: -100px;
}
.footer p {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer #BTN {
    background-color: orange;
    color: white;
    border: none;
    height: 35px;
    width: 500px;
    border-radius: 5px;
    position: relative;
    left: 300px;
    bottom: 10px;
}
