body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.Stars {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; left: 0;
    z-index: -1;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 10%, transparent 70%);
}
.Sun {
    width: 120px;
    height: 120px;
    background: radial-gradient(circle, yellow, orange, red);
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 80px yellow;
}
.orbit {
    position: absolute;
    border: 0.8px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.planet {
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.mercury-orbit { width: 300px; height: 300px; }
.mercury {
    height: 20px;
    width: 20px;
    background: radial-gradient(circle, red, yellow);
    top: 50%; left: 50%;
    animation: orbit-mercury 3s linear infinite;
}

.venus-orbit { width: 400px; height:400px; }
.venus {
    height: 22px;
    width: 22px;
    background: radial-gradient(circle, rgb(203, 140, 24), white);
    top: 50%; left: 50%;
    animation: orbit-venus 5s linear infinite;
}
.earth-orbit { width: 550px; height: 550px; }
.earth {
    height: 25px;
    width: 25px; 
    background: radial-gradient(circle, blue, green);
    top: 50%; left: 50%;
    animation: orbit-earth 7s linear infinite;
}

.mars-orbit { width: 700px; height: 700px; }
.mars {
    height: 24px;
    width: 24px; 
    background: radial-gradient(circle, red, white);
    top: 50%; left: 50%;
    animation: orbit-mars 9s linear infinite;
}

.jupiter-orbit { width: 850px; height: 850px; }
.jupiter {
    height: 45px;
    width: 45px; 
    background: radial-gradient(circle, orange, brown);
    top: 50%; left: 50%;
    animation: orbit-jupiter 12s linear infinite;
}

.saturn-orbit { width: 1000px; height: 1000px; }
.saturn {
    height: 40px;
    width: 40px; 
    background: radial-gradient(circle, gold, darkgoldenrod);
    top: 50%; left: 50%;
    animation: orbit-saturn 15s linear infinite;
}
.saturn-ring {
    width: 60px; height: 10px;
    background: rgba(255, 255, 204, 0.6);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    border-radius: 50%;
}
.uranus-orbit { width: 1150px; height: 1150px; }
.uranus {
    height: 35px;
    width: 35px;
    background: radial-gradient(circle, rgb(56, 81, 84), white);
    top: 50%; left: 50%;
    animation: orbit-uranus 20s linear infinite;
}
.uranus-ring {
    width: 70px; height: 10px;
    background: rgb(172, 229,  238);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    border-radius: 50%;
}
.neptune-orbit { width: 1300px; height: 1300px;}
.neptune {
   height: 35px;
   width: 35px;
   background: radial-gradient(circle, rgba(6, 47, 150, 0.781), white);
   top: 50%; left: 50%;
   animation: orbit-neptune 25s linear infinite;
}

@keyframes orbit {
    0% { 
        transform: rotate(0deg) translateX(150px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(150px) rotate(-360deg); 
    }
}
@keyframes orbit-mercury {
    0% { 
        transform: rotate(0deg) translateX(150px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(150px) rotate(-360deg); 
    }
}

@keyframes orbit-venus {
    0% { 
        transform: rotate(0deg) translateX(200px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(200px) rotate(-360deg); 
    }
}

@keyframes orbit-earth {
    0% { 
        transform: rotate(0deg) translateX(275px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(275px) rotate(-360deg); 
    }
}

@keyframes orbit-mars {
    0% { 
        transform: rotate(0deg) translateX(350px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(350px) rotate(-360deg); 
    }
}

@keyframes orbit-jupiter {
    0% { 
        transform: rotate(0deg) translateX(425px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(425px) rotate(-360deg); 
    }
}

@keyframes orbit-saturn {
    0% { 
        transform: rotate(0deg) translateX(500px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(500px) rotate(-360deg); 
    }
}

@keyframes orbit-uranus {
    0% { 
        transform: rotate(0deg) translateX(575px) rotate(0deg); 
    }
    100% { transform: rotate(360deg) translateX(575px) rotate(-360deg); 
    }
}

@keyframes orbit-neptune {
    0% { 
        transform: rotate(0deg) translateX(630px) rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) translateX(650px) rotate(-360deg); 
    }
}
