.Out {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
}
.Main {
    background-color: powderblue;
    height: 500px;
    width: 700px;
    padding: 50px;
}
.Up, .Down{
    background-color: black;
    height: 30px;
    width: 600px;
}
.Red {
    background-color: red;
    color: white;
    height: 40px;
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2.5;
}
.Center {
    height: 250px;
    width: 550px;
}
.Blue {
    background-color: rgba(0, 43, 128, 0.986);
    color: white;
    height: 250px;
    width: 120px;
    margin-left: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 15;
    display: inline-block;
}
.Yellow {
    background-color: yellow;
    color: black;
    height: 250px;
    width: 365px;
    text-align: center;
    line-height: 15;
    display: inline-block;
}
.Green {
    background-color: rgb(57, 199, 76);
    color: white;
    height: 160px;
    width: 80px;
    text-align: center;
    line-height: 9.5;
    position: relative;
    bottom: 100%;   
    left: 85.5%;
}
.Sky {
    background-color: rgb(36, 3, 86);
    color: white;
    height: 40px;
    width: 500px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2.5;
}