* {
  font-size: large;
  text-align: center;
}
.Outter {
  background-color: rgb(218, 211, 203);
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main {
  height: 550px;
  width: 90%;
  padding: 50px;
  background-color: white;
}
.Div1 {
  background-color: #FF4191;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 2;
}
.Div2 {
  background-color: rgb(255, 166, 1);
  color: black;
  height: 400px;
  width: 100%;
  font-size: large;
}
.Div3 {
  background-color: #1363DF;
  color: aliceblue;
  height: 30px;
  text-align: center;
  line-height: 2;
}
.H, .R1, .R2, .Lobby {
  background-color: black;
  color: aliceblue;
  text-align: center;
}
.H {
  height: 60px;
  width: 100%;
  margin: 15px 0;
  line-height: 3;
}
.Lobby {
  height: 175px;
  width: 100%;
  line-height: 10;
  margin-top: 10px;
}
































































































/* .header {
  background: maroon;
  color: white;
  padding: 10px;
  text-align: center;
}
.content {
  background: orange;
  padding: 20px;
  height: 350px;
}
.entry {
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 600px;
}
.sidebar {
  background: black;
  color: white;
  padding: 10px;
  float: right;
  height: 150px;
  width: 400px;
  margin-top: 42px;
  text-align: center;
  line-height: 7;
}
.footer {
  background: blue;
  color: white;
  padding: 10px;
  text-align: center;
}
.page {
  background: lightblue;
  padding: 20px;
} */