body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #827878;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: black;
}
img {
    border-radius: 15px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.banner {
    display: flex;
    align-items: center;
    background: #e4e4e4;
    padding: 20px;
}
.banner img {
    width: 280px;
    height: 180px;
    border-radius: 10px;
}
.banner-text {
    margin-left: 20px;
    font-size: 18px;
}
.banner-text button {
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
main {
    display: flex;
    padding: 20px;
}
.content {
    flex: 2;
    padding-right: 20px;
}

.news {
    flex: 1;
    background: #f8f8f8;
    padding: 10px;
}
.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.news-item img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.Orthaer {
    font-weight: bold;
    margin-right: 10px;
}