body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    gap: 50px;
}

.Box {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.Linear {
    background: linear-gradient(to bottom, red, orange, yellow);
}

.Radial {
    background: radial-gradient(circle, red, yellow, green);
}