.Main {
  height: 1500px;
  width: 100%;
}
.Header {
  height: 150px;
  width: 100%;
}
#Logo {
  height: 350px;
  width: 350px;
  margin-top: -100px;
  display: inline-block;
}
.A_Links {
  padding: 50px;
  margin-top: -300px;

}
.Links {
  padding: 20px;
  margin-right: 20px;
  text-align: end;
  float: right;
}
.Body {
  height: 600px;
  width: 100%;
  background-color: brown;
}
#BGImage {
  background-image: url("CSS_Image/BG1.jpg");
  height: 800px;
  width: 100%;
  padding: 50px;
  margin-right: 100px;
  background-size: cover;
}
#P1 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  transform: translate(-200px, -70px);
}
#P2 {
  text-align: left;
  color: aliceblue;
  font-size: 25px;
  transform: translate(50px, -150px);
}
.Footer {
  height: 200px;
  width: 100%;
}
.A-Box {
  padding: 30px;
  margin-left: 25px;
  margin-top: -20px;
}
#Box {
  border: 2px solid rgb(212, 49, 147);
  background-color: powderblue;
  height: 150px;
  width: 250px;
  text-align: center;
  line-height: 6;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
  font-size: 25px;
}
