body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #121212;
}
.Main {
    position: relative;
    width: 300px;
    height: 300px;
}
.S {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: cyan;
    animation: rotate 4s linear infinite;
    align-items: center;
}
.S:nth-child(2) {
    background-color: magenta;
    animation-delay: 1s;
}
.S:nth-child(3) {
    background-color: yellow;
    animation-delay: 2s;
}
.S:nth-child(4) {
    background-color: lime;
    animation-delay: 3s;
}
.S:nth-child(5) {
    background-color: teal;
    animation-delay: 3s;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(200px);
    }
    100% {
        transform: rotate(360deg) translate(200px);
    }
}