.Outter {
    background-color:powderblue;
    height: 600px;
    width: 100%;
}
.Main {
    height: 500px;
    width: 90%;
    padding: 50px
}
.Div1 {
    background-color: #FF4191;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 30px;
    line-height: 2;
}
.Div2 {
    background-color: rgb(255, 166, 1);
    color: rgb(0, 0, 0);
    height: 400px;
    width: 100%;
    font-size: large;

}
.Div3 {
    background-color: #1363DF;
    color: aliceblue;
    height: 30px;
    text-align: center;
    line-height: 2;
}
.H {
    background-color: black;
    height: 40px;
    width: 800px;
    margin: 15px;
    color: aliceblue;
    text-align: center;
    line-height: 2.5;
}
.R1 {
    background-color: black;
    color: aliceblue;
    display: inline-block;
    float: right;
    height: 100px;
    width: 300px;
    margin-top: -165px;
    margin-right: 100px;
    line-height: 6;
    text-align: center;
}
.R2 {
    background-color: black;
    color: aliceblue;
    display: inline-block;
    float: right;
    height: 100px;
    width: 300px;
    margin-top: -50px;
    margin-right: 100px;
    line-height: 6;
    text-align: center;
}
.Lobby {
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: 800px;
    text-align: center;
    line-height: 6;
    margin-left: 15px;
}
/* ALT + SHIFT + F */